.page-footer {
  text-align: center;
  padding: 40px 0 40px;

  @media (min-width: @breakpoint-m) {
    padding: 36px 0 37px;
  }

  @media (min-width: @breakpoint-l) {
    padding: 71px 0 72px;
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @breakpoint-m) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @breakpoint-l) {
    align-items: flex-start;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 38px;
  cursor: pointer;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 0;
    align-self: flex-start;
  }

  @media (min-width: @breakpoint-l) {
    margin-top: -1px;
  }
}

.page-footer__production {
  .reset-decoration();
  .conditions(@gray-100);

  color: @red-100;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @breakpoint-m) {
    margin-top: 1px;
  }

  @media (min-width: @breakpoint-l) {
    margin-top: 6px;
  }
}

.page-footer__production-text {
  line-height: 19px;
  color: @gray-100;
  margin-right: 15px;

  @media (min-width: @breakpoint-l) {
    font-size: 18px;
    line-height: 18px;
    margin-right: 13px;
  }
}

.page-footer__production-icon {
  @media (min-width: @breakpoint-l) {
    margin-top: 4px;
  }
}
