.intro {
  background: @gray-300 url("../img/main/intro/bg-back-mobile.jpg") no-repeat center top;
  color: @white-100;
  padding-top: 66px;
  text-align: center;

  @media (min-width: @breakpoint-m) {
    background-image: url("../img/main/intro/bg-back-tablet.jpg");
    padding-top: 110px;
  }

  @media (min-width: @breakpoint-l) {
    background-image: url("../img/main/intro/bg-back-desktop.jpg");
  }
}

.intro__inner {
  position: relative;

  &--index::before {
    content: "";
    display: block;
    width: 100%;
    min-height: 396px;
    bottom: 0;
    background: url("../img/main/intro/bg-intro-mobile.png") no-repeat left bottom;

    @media (min-width: @breakpoint-m) {
      position: absolute;
      min-height: 545px;
      z-index: 1;
      right: 0;
      background-image: url("../img/main/intro/bg-intro-tablet.png");
      background-position: right bottom;
    }

    @media (min-width: @breakpoint-l) {
      min-height: 645px;
      background-image: url("../img/main/intro/bg-intro-desktop.png");
    }
  }

  &--inner {
    padding-top: 28px;
    padding-bottom: 28px;
    min-height: 171px;

    @media (min-width: @breakpoint-m) {
      padding-top: 69px;
      padding-bottom: 69px;
      min-height: 330px;
    }

    @media (min-width: @breakpoint-l) {
      padding-top: 64px;
      padding-bottom: 64px;
      min-height: 284px;
    }
  }
}

.intro__title {
  .reset-indent();
  .title-8();

  font-weight: 300;

  &-line {
    display: block;
  }

  @media (min-width: @breakpoint-m) {
    font-size: 50px;
    line-height: 68px;
  }
}
