.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px;

  @media (min-width: @breakpoint-m) {
    padding: 27px 20px 43px;
    align-items: flex-end;
  }

  @media (min-width: @breakpoint-l) {
    .container();

    padding: 24px 0;
    flex-wrap: wrap;
  }
}

.main-nav__logo {
  display: flex;
}

.main-nav__toggle {
  .reset-indent();

  width: 50px;
  height: 24px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: url("../img/main/header/burger.svg") no-repeat center;

  &--open {
    background-image: url("../img/main/header/x.svg");
  }

  svg {
    pointer-events: none;
  }

  @media (min-width: @breakpoint-l) {
    display: none;
  }
  /*
  &:hover {
  }

  &:active {
  }*/
}

.main-nav__list {
  .reset-ul();

  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 67px;
  text-align: center;
  z-index: 2;

  &--open {
    display: block;
  }

  @media (min-width: @breakpoint-m) {
    top: 95px;
  }

  @media (min-width: @breakpoint-l) {
    position: static;
    display: flex;
    justify-content: space-between;
    max-width: 620px;
  }
}

.main-nav__link {
  .reset-decoration();

  display: block;
  margin: 0;
  background-color: @gray-100;
  color: @white-100;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 20px;
  box-shadow: 0 -1px 0 @black-100, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: @breakpoint-l) {
    padding: 16px 0;
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    @media (min-width: @breakpoint-l) {
      color: @red-100;
    }
  }

  &:active {
    @media (min-width: @breakpoint-l) {
      color: fade(@white-100, 30%);
    }
  }
}
