.advantages {
  text-align: center;
  padding-top: 29px;
}

.advantages__inner {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 31px;
}

.advantages__title {
  .reset-indent();
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 46px;
}

.advantages__content {
  background-color: @base-gray-bg;
}

.advantages__subtitle {
  display: block;
  margin-top: 27px;
}

.advantages__list {
  .reset-ul();
  margin-bottom: 48px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 43px;
}

.advantages__item-header {
  display: none;
}

.advantages__item-title {
  .reset-indent();
  font-size: 18px;
  margin-bottom: 24px;
}

.advantages__item-text {
  .reset-indent();
  font-size: 14px;
}

.advantages__mockup {
  margin-bottom: -10px;
}

.advantages__effect {
  display: flex;
  justify-content: space-between;
  padding: 54px 20px 109px 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 31px;
}
