.advantages-effect-inner {
  display: grid;
  grid-template-columns: 238px auto;
  column-gap: 72px;
  text-align: left;
  align-items: flex-start;

  @media (min-width: @breakpoint-l) {
    column-gap: 71px;
    grid-template-columns: 298px auto;
    padding-left: 131px;
  }
}

.advantages-effect__content {
  padding-top: 40px;

  @media (min-width: @breakpoint-m) {
    padding-top: 42px;
  }

  @media (min-width: @breakpoint-l) {
    padding: 95px 40px 0 0;
  }
}

.advantages-effect__title {
  .reset-indent();
  font-size: 30px;
  line-height: 36px;
  padding-right: 135px;
  margin-bottom: 10px;

  @media (min-width: @breakpoint-l) {
    margin-bottom: 25px;
    line-height: 30px;
  }
}

.advantages-effect__text {
  .reset-indent();

  margin-bottom: 10px;

  @media (min-width: @breakpoint-l) {
    .title-5();

    margin-bottom: 30px;
  }
}

.advantages-effect__link {
  color: @red-100;

  @media (min-width: @breakpoint-l) {
    .title-5();
  }

  &[href]:hover {
    color: @gray-100;
  }

  &[href]:active {
    opacity: 0.3;
  }
}
