.advantages {
  padding-top: 29px;
  text-align: center;

  @media (min-width: @breakpoint-m) {
    padding-top: 50px;
  }

  @media (min-width: @breakpoint-l) {
    padding-top: 68px;
  }
}

.advantages__title {
  .reset-indent();
  .title-7();

  font-weight: 300;

  @media (min-width: @breakpoint-m) {
    font-size: 40px;
    line-height: 54px;
  }
}

.advantages__subtitle {
  display: block;
  margin-top: 27px;

  @media (min-width: @breakpoint-m) {
    max-width: 355px;
    margin: 0 auto;
  }
}

.advantages__lead-inner {
  margin-bottom: 31px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 44px;
  }

  @media (min-width: @breakpoint-l) {
    margin-bottom: 75px;
  }
}

.advantages__content {
  .bg-triangle-1();

  overflow: hidden;
  position: relative;
  padding-top: 80px;

  @media (min-width: @breakpoint-l) {
    padding-top: 0;
  }
}

.advantages__content-inner {
  @media (min-width: @breakpoint-m) {
    display: grid;
    grid-template-columns: 268px auto;
    column-gap: 42px;
    align-items: flex-start;
    margin-bottom: -135px;
    text-align: left;
  }

  @media (min-width: @breakpoint-l) {
    margin-bottom: 0;
    display: block;
  }
}

.advantages__list {
  .reset-ul();

  display: grid;
  row-gap: 29px;

  @media (min-width: @breakpoint-m) {
    row-gap: 33px;
    grid-column: 2/-1;
    grid-row: 1/2;
  }

  @media (min-width: @breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    grid-template-rows: none;
    text-align: center;
  }
}

.advantages__item-header {
  display: none;

  @media (min-width: @breakpoint-l) {
    display: block;
    position: relative;
    overflow: hidden;
    height: 301px;
    margin-bottom: 59px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
      transform: translateY(50%);
    }
  }
}

.advantages__item-title {
  .reset-indent();

  font-size: 18px;
  margin-bottom: 24px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 13px;
  }

  @media (min-width: @breakpoint-l) {
    font-size: 30px;
    line-height: 30px;
    padding: 0 30px;
  }
}

.advantages__item-text {
  .reset-indent();

  @media (min-width: @breakpoint-l) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
  }
}

.advantages__mockup {
  display: block;
  margin: 0 auto;
  transform: translateY(43px);

  @media (min-width: @breakpoint-m) {
    transform: translateY(-70px);
  }

  @media (min-width: @breakpoint-l) {
    display: none;
  }
}

.advantages__effect {
  display: none;

  @media (min-width: @breakpoint-m) {
    display: block;
    padding-top: 54px;
  }

  @media (min-width: @breakpoint-l) {
    display: block;
    padding-top: 76px;
    padding-bottom: 67px;
    background-color: @white-200;
  }
}
