.contacts {
  text-align: center;
  padding-top: 50px;

  @media (min-width: @breakpoint-l) {
    padding-top: 65px;
  }
}

.contacts__inner {
  padding-bottom: 31px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -32px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 33px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    background-color: @white-100;

    @media (min-width: @breakpoint-m) {
      height: 68px;
      bottom: -101px;
    }

    @media (min-width: @breakpoint-m) {
      height: 102px;
    }
  }

  @media (min-width: @breakpoint-m) {
    margin-bottom: 0;
    padding-bottom: 28px;
  }

  @media (min-width: @breakpoint-l) {
    padding-bottom: 20px;
  }
}

.contacts__title {
  .reset-indent();
  .title-7();

  font-weight: 300;
  margin-bottom: 45px;

  @media (min-width: @breakpoint-m) {
    //padding: 0 125px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @breakpoint-l) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 56px;
  }

  & span {
    display: block;
  }
}

.contacts__list {
  .reset-ul();

  display: grid;
  row-gap: 23px;

  @media (min-width: @breakpoint-m) {
    grid-template-columns: 1fr 1fr;
    row-gap: 45px;
  }

  @media (min-width: @breakpoint-l) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 23px;
  }
}

.contacts__item {
  &:last-child {
    @media (min-width: @breakpoint-m) and (max-width: (@breakpoint-l - 1)) {
      grid-column: 1/3;
      padding: 0 170px;
    }
  }

  &:nth-child(2) {
    @media (min-width: @breakpoint-l) {
      order: 3;
    }
  }
}

.contacts__item-title {
  .reset-indent();
  font-size: 18px;
  line-height: 25px;
}

.contacts__item-text {
  .reset-indent();
  .reset-decoration();
  .title-8();

  color: @red-100;
  font-weight: 300;
}
