.price-wrap {
  display: block;
}

.price {
  .bg-triangle-1();

  position: relative;
  padding-top: 91px;
  padding-bottom: 42px;
  overflow-x: hidden;

  @media (min-width: @breakpoint-m) {
    padding-top: 88px;
    padding-bottom: 68px;
  }

  @media (min-width: @breakpoint-l) {
    padding-top: 140px;
    padding-bottom: 96px;
  }
}

.price__slider {
  display: none;
}

.price__inner {
  position: relative;
  padding-bottom: 52px;

  @media (min-width: @breakpoint-m) {
    .container();
    padding-bottom: 0;
  }
}

.price__dots {
  .reset-ul();

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @breakpoint-m) {
    .visually__hidden;
  }
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  width: 262.5%;

  @media (min-width: @breakpoint-m) {
    width: 100%;
  }
}
