.price-wrap {
  display: block;
}

.price {
  .bg-triangle-1();

  position: relative;
  padding-top: 99px;
  padding-bottom: 40px;
  overflow-x: hidden;
  background-color: @white-200;

  &::before {
    height: 18px;

    @media (min-width: @breakpoint-m) {
      height: 41px;
    }
  }

  @media (min-width: @breakpoint-m) {
    padding-top: 96px;
    padding-bottom: 68px;
  }

  @media (min-width: @breakpoint-l) {
    padding-top: 140px;
    padding-bottom: 96px;
  }
}

.price__slider {
  display: none;
}

.price__inner {

  position: relative;
  padding-bottom: 58px;

  @media (min-width: @breakpoint-m) {
    .container();

    padding-bottom: 0;
  }

  @media (min-width: @breakpoint-m) {
    padding-left: 21px;
    padding-right: 21px;
  }
}

.price__dots {
  .reset-ul();

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50.8%);

  @media (min-width: @breakpoint-m) {
    .visually__hidden;
  }
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  width: 261.35%;

  @media (min-width: @breakpoint-m) {
    width: 100%;
  }
}
