.reviews {
  text-align: center;
  padding-top: 46px;
  padding-bottom: 36px;

  @media (min-width: @breakpoint-m) {
    padding-top: 100px;
    padding-bottom: 16px;
  }
}

.reviews__slider {
  position: relative;
  padding-bottom: 52px;
}

.reviews__list {
  .reset-ul();
}

.reviews__item {
  @media (min-width: @breakpoint-m) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__autor {
  .reset-indent();
  .title-5();

  @media (min-width: @breakpoint-m) {
    font-size: 20px;
  }
}

.reviews__abount {
  .reset-indent();

  display: none;
  line-height: 30px;
  color: @black-100;

  @media (min-width: @breakpoint-m) {
    display: block;
  }
}

.reviews__header {
  margin-bottom: 14px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 0;
  }
}

.reviews__text {
  .reset-indent();

  line-height: 30px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 36px;
    font-size: 18px;
  }
}

.reviews__dots {
  .reset-ul();

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reviews__nav {
  .reset-ul();

  /*display: flex;*/
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
}

.reviews__nav__button {
  display: flex;
  width: 22px;
  height: 41px;
  border: 0;
  outline: 0;
  padding: 0;
  background-size: 22px 41px;
  cursor: pointer;

  &--prev {
    background: url("../img/main/arrow-left.svg") no-repeat top left;
  }

  &--next {
    background: url("../img/main/arrow-right.svg") no-repeat top left;
  }
}

