.reviews {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 31px;

  @media (min-width: @breakpoint-m) {
    padding-top: 100px;
    padding-bottom: 8px;
  }

  @media (min-width: @breakpoint-l) {
    position: relative;
    padding-top: 185px;
    padding-bottom: 49px;

    &::before {
      content: "";
      position: absolute;
      top: 71px;
      left: 50%;
      transform: translateX(-50%);
      width: 79px;
      height: 63px;
      background: url("../img/main/reviews/quotes.svg") no-repeat center;
    }
  }
}

.reviews__slider {
  position: relative;
  padding-bottom: 49px;

  @media (min-width: @breakpoint-m) {
    padding-bottom: 54px;
  }

  @media (min-width: @breakpoint-l) {
    padding: 0 80px;
  }
}

.reviews__list {
  .reset-ul();
}

.reviews__item {
  @media (min-width: @breakpoint-m) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__autor {
  .reset-indent();
  .title-5();

  @media (min-width: @breakpoint-m) {
    font-size: 20px;
    line-height: 29px;
  }

  @media (min-width: @breakpoint-l) {
    font-size: 24px;
  }
}

.reviews__abount {
  .reset-indent();

  display: none;
  line-height: 30px;
  color: @black-100;

  @media (min-width: @breakpoint-m) {
    display: block;
  }

  @media (min-width: @breakpoint-l) {
    .title-5();
  }
}

.reviews__header {
  margin-bottom: 13px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 0;
  }
}

.reviews__text {
  .reset-indent();

  line-height: 30px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 36px;
    font-size: 18px;
  }
}

.reviews__nav {
  .reset-ul();

  display: none;

  @media (min-width: @breakpoint-l) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
  }
}

.reviews__nav__button {
  width: 22px;
  height: 41px;
  border: 0;
  outline: 0;
  padding: 0;
  background-size: 22px 41px;
  cursor: pointer;
  fill: @gray-100;
  opacity: 0.3;

  &--prev {
    background: url("../img/main/arrow-left.svg") no-repeat;
  }

  &--next {
    background: url("../img/main/arrow-right.svg") no-repeat;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

