.visually__hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.reset-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-indent() {
  padding: 0;
  margin: 0;
}

.reset-decoration() {
  text-decoration: none;
}

