.reset-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-indent() {
  padding: 0;
  margin: 0;
}

.reset-decoration() {
  text-decoration: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 0;
  outline: none;
  outline-offset: 0;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px 30px 16px;
  word-break: break-all;
}

.button--bordered {
  border: 3px solid #d22856;
  border-radius: 30px;
  color: #d22856;
  background-color: transparent;
}
