//container
.mixin-container (@breakpoints; @c-padding) {
  width: @breakpoints;
  padding-left: @c-padding;
  padding-right: @c-padding;
  margin: 0 auto;
}

//backgrounds-index
.bg-triangle-1() {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: polygon(0 100%, 0 0, 100% 0);
    background-color: @white-100;
    height: 31px;

    @media (min-width: @breakpoint-m) {
      height: 53px;
    }

    @media (min-width: @breakpoint-l) {
      height: 74px;
    }
  }
}

.bg-gray-full() {
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    background-color: @white-200;
    z-index: -1;
  }
}

//Conditions
.conditions(@color-1, @color-2: @color-1, @clarity: 30%) {
  &:hover:not(&--active) {
    color: @color-1;
  }

  & svg {
    fill: currentColor;
  }

  &:active:not(&--active) {
    color: fade(@color-2, @clarity);
  }
}

.conditions-border(@color-h: @gray-100, @color-a: @red-100) {
  &:hover {
    border-color: @color-h;
  }

  &:focus {
    border-color: @color-h;
  }

  &:active {
    border-color: @color-a;
  }
}
