//Colors
@white-100:#ffffff;
@white-200:#f2f2f2;
@white-300:#e5e5e5;

@gray-100:#283645;
@gray-200:#49515a;
@gray-300:#1d2631;

@black-100:#000000;

@red-100:#d22856;

@green-100:#2aab6d;
@green-200:#1C9B5E;

//font-famely
@base-ff: "Open Sans", "Arial", "Helvetica", sans-serif;

//breakpoints
@breakpoint-s: 320px;
@c-margin-s: 20px;
@breakpoint-m: 660px;
@c-margin-m: 20px;
@breakpoint-l: 1200px;
@c-margin-l: 130px;
