.editor {
  padding-top: 49px;
  overflow: hidden;

  @media (min-width: @breakpoint-m) {
    padding-top: 73px;
  }

  @media (min-width: @breakpoint-l) {
    padding-top: 67px;
  }
}

.editor__lead {
  text-align: center;
  line-height: 30px;
  margin-bottom: 42px;

  @media (min-width: @breakpoint-m) {
    .title-5();
    margin-bottom: 69px;
  }

  @media (min-width: @breakpoint-l) {
    margin-bottom: 66px;
  }
}

.editor__lead-title {
  .reset-indent();
}

.editor__content {
  background-color: @white-200;
}

.editor__form {
  padding-top: 20px;
  display: grid;
  row-gap: 42px;
  background-color: @white-200;

  @media (min-width: @breakpoint-m) {
    grid-template-columns: 300px auto;
    column-gap: 45px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @breakpoint-l) {
    grid-template-columns: 300px auto;
    column-gap: 90px;
    padding: 57px 60px 57px 80px;
  }
}

.editor__buttons {
  .reset-ul();

  position: relative;
  padding-top: 38px;
  padding-bottom: 38px;
  width: 100%;
  display: grid;
  row-gap: 12px;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100vw;
    text-align: center;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: fade(@gray-100, 10%);

    @media (min-width: @breakpoint-m) {
      display: none;
    }
  }

  @media (min-width: @breakpoint-m) {
    padding-top: 66px;
    padding-bottom: 0;
  }

  @media (min-width: @breakpoint-l) {
    padding-top: 146px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 44px;
  }
}

.editor__button {
  .reset-indent();

  &-upload,
  &-reset {
    width: 100%;
  }

  &-reset {
    border-color: fade(@gray-100, 10%);
    color: fade(@gray-100, 10%);
  }
}
