.gallery-list {
  &__author,
  &__text {
    .reset-indent();
  }
}

.gallery-list__header--panorama {
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.gallery-list__content {
  background-color: @base-gray-bg;
  color: @base-gray;
}

.gallery-list__author {
  font-weight: 700;
}

.gallery-list__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.gallery-list__text {
  padding-bottom: 15px;
}

