.gallery {
  padding-top: 54px;
}

.gallery__inner {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.gallery__text {
  .reset-indent();

  padding: 0 14px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 30px;
}

.gallery__list {
  .reset-ul();
}

.gallery-list__content {
  padding: 25px 31px 26px 17px;
}
