.gallery {
  padding-top: 46px;

  @media (min-width: @breakpoint-m) {
    padding-top: 92px;
  }

  @media (min-width: @breakpoint-l) {
    padding-top: 92px;
  }
}

.gallery__text {
  padding: 0 14px;
  margin-bottom: 48px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 76px;
    padding: 0 90px;
  }

  @media (min-width: @breakpoint-l) {
    margin-bottom: 88px;
    padding: 0 180px;
  }
}

