.gallery-list {
  .reset-ul();

  &__author,
  &__text {
    .reset-indent();
  }

  @media (min-width: @breakpoint-m) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (min-width: @breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 54px;
  }
}

.gallery-list__item {
  display: flex;
  flex-direction: column;
}

.gallery-list__item--panorama {
  @media (min-width: @breakpoint-m) {
    grid-column: 1 / -1;
  }

  & .gallery-list__lead {
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  & .gallery-list__content {
    @media (min-width: @breakpoint-m) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
      min-height: 96px;
      padding-right: 29px;
      padding-bottom: 23px;
    }
  }

  & .gallery-list__text {
    @media (min-width: @breakpoint-m) {
      order: 2;
      grid-column: 1 / -1;
      margin: 0;
    }
  }

  & .gallery-list__like {
    @media (min-width: @breakpoint-m) {
      justify-self: end;
      flex-direction: row-reverse;
    }
  }

  & .like__count {
    @media (min-width: @breakpoint-m) {
      margin: 0;
      margin-right: 17px;
    }
  }
}

.gallery-list__lead {
  display: block;
}

.gallery-list__content {
  display: flex;
  flex-direction: column;
  background-color: @white-200;
  color: @gray-100;
  padding: 18px 18px 20px;
  min-height: 121px;

  @media (min-width: @breakpoint-m) {
    padding: 24px 31px 22px 28px;
    min-height: 155px;
  }
}

.gallery-list__header {
  .reset-indent();
}

.gallery-list__author {
  font-weight: 700;
}

.gallery-list__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.gallery-list__text {
  flex-grow: 1;
  margin-bottom: 10px;

  @media (min-width: @breakpoint-m) {
    margin-bottom: 12px;
  }
}

