.like {
  display: flex;
  align-items: center;
}

.like__button {
  .reset-indent();

  width: 13px;
  height: 12px;
  border: 0;
  background: url("../../img/main/bg-heart.svg") no-repeat center;
  cursor: pointer;
}

.like__count {
  .reset-indent();

  margin-left: 19px;
  font-size: 12px;
  color: @base-red;
  text-transform: uppercase;
}
