.contest {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  line-height: 30px;
  margin: 0 auto 42px;
}

.contest__lead {
  .reset-indent();
  text-align: center;
  margin-top: 54px;
  margin-bottom: 55px;
}
