
.contest-form {
  display: grid;

  @media (min-width: @breakpoint-m) {
    row-gap: 65px;
  }

  @media (min-width: @breakpoint-l) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
  }
}

//form fieldset
.contest-form__fieldset {
  .reset-indent();

  display: grid;
  position: relative;
  border: 0;
  padding-top: 42px;
  padding-bottom: 44px;

  &--about {
    padding-top: 0;

    @media (min-width: @breakpoint-m) {
      padding: 0;
      order: -3;
    }
  }

  &--achievements {
    @media (min-width: @breakpoint-m) {
      .form-border();
      padding: 54px 60px 50px;
    }

    @media (min-width: @breakpoint-l) {
      grid-column: 1 / -1;
    }
  }

  &--contacts {
    @media (min-width: @breakpoint-m) {
      .form-border();
      padding: 46px 60px 37px;
      order: -1;
    }

    @media (min-width: @breakpoint-l) {
      padding-top: 44px;
      padding-bottom: 23px;
      grid-column: 1 / -1;
    }
  }

  &--travel {
    @media (min-width: @breakpoint-m) {
      .form-border();
      padding: 54px 60px;
      order: -2;
    }
  }

  &--comment {
    padding-bottom: 50px;

    @media (min-width: @breakpoint-m) {
      .form-border();
      padding: 47px 60px 53px;
    }

    @media (min-width: @breakpoint-l) {
      grid-column: 1 / -1;
    }
  }
}

.contest-form__fieldset--achievements,
.contest-form__fieldset--travel {
  @media (max-width: (@breakpoint-m - 1)) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      text-align: center;
      background-color: @white-200;
      z-index: -1;
    }
  }
}

//form legend
.contest-form__legend {
  .reset-indent();

  text-align: center;
  text-transform: uppercase;
  color: @red-100;
  line-height: 18px;

  &--contacts {
    display: none;

    @media (min-width: @breakpoint-m) {
      display: block;
    }
  }

  &--achievements {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--travel {
    padding-left: 49px;
    padding-right: 49px;
  }

  &--comment {
    margin-bottom: 22px;
  }

  @media (max-width: (@breakpoint-m - 1)) {
    float: left;
    margin-bottom: 40px;
  }

  @media (min-width: @breakpoint-m) {
    line-height: 30px;
  }
}

.contest-form__list {
  .reset-ul();

  display: grid;

  &--about {
    row-gap: 16px;
  }

  &--contacts {
    row-gap: 16px;

    @media (min-width: @breakpoint-m) {
      row-gap: 28px;
    }

    @media (min-width: @breakpoint-l) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 74px;
    }
  }

  &--achievements {
    row-gap: 43px;

    @media (min-width: @breakpoint-l) {
      grid-template-columns: 280px 260px auto;
    }
  }

  &--travel {
    row-gap: 36px;
  }
}

.contest-form__item {
  &--about {
    @media (min-width: @breakpoint-m) {
      display: flex;
      align-items: center;
    }
  }

  &--contacts {
    @media (min-width: @breakpoint-m) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.contest-form__label {
  text-transform: uppercase;
  color: @red-100;
  line-height: 30px;
  cursor: pointer;

  &--text {
    @media (max-width: (@breakpoint-m - 1)) {
      padding-left: 23px;
    }
  }

  &--about {
    @media (min-width: @breakpoint-m) {
      margin-right: 20px;
    }
  }

  &--contacts {
    @media (min-width: @breakpoint-m) {
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}

.contest-form__input {
  .title-5();

  display: block;
  padding: 14px 20px 15px;
  width: 100%;
  border: 2px solid @white-300;
  border-radius: 1px;
  font-family: @base-ff;
  color: @gray-100;
  outline: none;

  &--textarea {
    resize: none;
  }
}

.contest-form__wrap {
  display: flex;
  align-items: stretch;
}

.contest-form__contacts-icon {
  display: none;
  flex-shrink: 0;
  width: 61px;
  min-height: 100%;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: @white-300 url("../img/main/form/bg-phone-icon.svg") no-repeat center;
  background-size: 20px 19px;

  &--email {
    background-image: url("../img/main/form/bg-email-icon.svg");
    background-size: 18px 13px;
  }
}

.contest-form__footer {
  min-width: 100%;
  text-align: center;
  display: grid;
  row-gap: 52px;

  @media (min-width: @breakpoint-m) {
    grid-template-columns: 300px max-content;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @breakpoint-l) {
    grid-column: 1 / -1;
  }
}

.contest-form__annotation {
  .reset-indent();
  text-transform: uppercase;

  &-longtext {
    display: none;

    @media (min-width: @breakpoint-l) {
      display: inline;
    }
  }
}
