.pink-logo {
  fill: @white-100;
  display: none;

  &--header-mobile,
  &--footer-mobile {
    display: flex;
  }

  @media (min-width: @breakpoint-m) {
    &--header-mobile {
      display: none;
    }

    &--header-tablet {
      display: flex;
    }
  }

  @media (min-width: @breakpoint-l) {
    &--header-tablet,
    &--footer-mobile {
      display: none;
    }

    &--header-desktop,
    &--footer-desktop {
      display: flex;
    }
  }


  &:hover:not(:active) * > {
    fill: @red-100;
  }

  &:active {
    opacity: 0.3;
  }
}

.pink-logo__pink {
  &--footer {
    fill: @gray-100;
  }
}


.pink-logo__glasses {
  &--footer {
    fill: @red-100;
  }
}

.pink-logo__star {
  fill: @red-100;

  &--group-footer {
    fill: @gray-100;
  }
}
