.toggle {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: @gray-100;
  margin: 34px 20px;
}

.toggle__button {
  .reset-indent();

  position: absolute;
  top: -6px;
  right: 50px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid @red-100;
  background-color: @white-100;
}
